{% comment %} 
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Home page </title>
    </head>
    <body>
        <h1> Registration form </h1>
        <form action="" method="POST">
            First name : <input type = "text" placeholder= "Enter your first name"> <br> <br>
            Last name  : <input type = "text"placeholder= "Enter your last name"> <br> <br>
            Email :    <input type = "Email"placeholder= "Enter your email address"> <br> <br>
            Create password : <input type= "password"placeholder= "Create your password"> <br> <br>
            <button type = "button" value "submit" name="submit"> Submit </button> 
            <button type = "reset" > Reset </button> <br> <br>                     


        </form>

    </body>
</html> {% endcomment %}


