
<!--<html>
    <head>
        <title>{{a}}</title>
        <style
                background-color: powderblue;>
        </style>
    </Head>
    <body>
        <marquee><h1> {{list}}</h1></marquee>
        <center><h2> Sasta nahi sabse acha!! </h2></center>
        <center><button><a href="https://www.bergerpaints.com/"> Berger </a></button></center>
        {%for n in list%}
        {{n}}
        {% endfor %}
    </body>
</html>  -->

<!--<html>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>

        <title> Home page </title>
        
      
        <body>
            <div class="myDiv">

            <marquee><h1><b>Burger </b></h1></marquee>
            <center><h2> Sasta nahi sabse acha!! </h2></center>
            <center><table style = "width:1000px">
            </div>
                <tr>
                    <th> Name </th>
                    <th> Contact no. </th>
                    <th> Country </th>
                    <th> Prices </th>
                </tr>
                <tr>
                    <td> Alister </td>
                    <td> 5113515616 </td>
                    <td> Russia </td>
                    <td> ₽100 </td>
                </tr>
                <tr>
                    <td> Sam </td>
                    <td> 2549735469 </td>
                    <td> Australia </td>
                    <td> $200 </td>
                </tr>
                <tr>
                    <td> Tom </td>
                    <td> 1462394635 </td>
                    <td> South Africa </td>
                    <td> R50 </td>
                </tr>
                <br>
            </table></center>
           <br> <center><button><a href="https://www.bergerpaints.com/"> Contact here </a></button></center>
         <br><br><br><br><center>  <img src="https://www.bergerpaints.com/resources/images/logo.png" alt="hello sufiyan bhai" width="150" height="200"></center>
        </body>
    
</html> -->

<html>
    <head>
        <link rel="stylesheet" href="style.css">
 
        <title> Home page </title>
    </head>
    <body>
        <h1> Registration form </h1>
        <form action="" method="POST">
            First name : <input type = "text" placeholder= "Enter your first name"> <br> <br>
            Last name  : <input type = "text"placeholder= "Enter your last name"> <br> <br>
            Email :    <input type = "Email"placeholder= "Enter your email address"> <br> <br>
            Create password : <input type= "password"placeholder= "Create your password"> <br> <br>
            <button type = "button" value "submit" name="submit"> Submit </button> 
            <button type = "reset" > Reset </button> <br> <br>                     


        </form>

    </body>
</html>

<!--<html>
    <head>
        <link rel ="stylesheet" href="style.css">
        <title> Home page </title>
    </head>
    <body>
        <h1> Registration form </h1>
    </body>
<html>-->




